<main class="container">
  <div class="header">
    <h1>Pets</h1>
    <%= link_to "New Pet",
                new_pet_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @pets %>
</main>