<div class="recipe">
  <%= link_to recipe.subject, recipe_path(recipe) %>
  <div class="recipe__actions">
    <%= button_to "Delete",
                  recipe_path(recipe),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_recipe_path(recipe),
                class: "btn btn--light" %>
  </div>
  <br>
</div>