<main class="container">
  <%= link_to sanitize("&larr; Back to medical prescription"), recipe_path(@recipe) %>

  <div class="header">
    <h1>Edit Medical Presc.</h1>
  </div>

  <%= render "form", recipe: @recipe %>
</main>